# requirements.txt

alabaster==0.7.16
asgiref==3.8.1
attrs==24.3.0
babel==2.16.0
certifi==2024.12.14
charset-normalizer==3.4.0
dj-database-url==1.2.0

celery==5.5.1
redis==5.2.1
django-anymail[sendgrid]==10.0

Django==5.1.4
django-celery-beat==2.8.0
django-redis==5.4.0
django-admin-rangefilter==0.10.0
django-cors-headers==4.6.0
django-filter==22.1
django-jazzmin==3.0.1
django-nonrelated-inlines==0.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-tinymce==4.1.0
docutils==0.18.1
drf-spectacular==0.26.1
gunicorn==20.1.0
idna==3.10
imagesize==1.4.1
inflection==0.5.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
packaging==24.2
psycopg2-binary==2.9.5
Pygments==2.18.0
PyJWT==2.10.1
python-dateutil==2.8.2
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
setuptools==75.6.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinx-rtd-theme==1.2.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.4.3
uritemplate==4.1.1
urllib3==2.2.3

# https://whitenoise.readthedocs.io/en/latest/
whitenoise==6.8.2
django-admin-sortable==2.3
django_json_widget==2.0.1
markdown==3.7

openai==1.61.1

social-auth-app-django==5.4.3